<header class="shadow-sm">
    <div class="container-fluid">
        <div class="row">
            <div class="" class="logo-column column-config">
                <div class="d-flex justify-content-center align-items-center">
                    <!-- <div class="p-1">
                        <img class="app-logo" src="../../../assets/img/CloudApper-logo-square-blue.png" alt="CloudApper" width="48" height="42" />
                    </div> -->
                    <div class="p-1 w-100">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="app-name w-100">
                                <h1 class="mt-2">User Manager APP</h1>
                            </div>
                            <div class="mobile-nav mt-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</header>