.app {
    padding: 5px 15px;
    img {
        width: 50px;
        height: 50px;
    }
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* font-family: 'Nunito', sans-serif; */
}

.app-page-container {
    margin-top: 30px;
}